body {
  overflow: hidden;
  background-color: #212121;
  font-family: Arial, Helvetica, sans-serif;
}

/* I decided to remove the focus outline
from mobile devices because it made the PWA
feel less appy. And since most users won't
use a keyboard to navigate on the website on
a mobile device, it is not needed. On larger
displays, though, the outline will appear */
@media (max-width: 768px) {
  button:focus {
    outline: none;
  }
}

.sr-only {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 1px;
  pointer-events: none;
  opacity: 0;
}

.expand {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.content {
  display: block;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.scrollbar {
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
  .scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #212121;
  }

  .scrollbar::-webkit-scrollbar {
    width: 15px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #2B2B2B;
  }
}

.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.app__wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
}

.app__background {
  background-image: url('/assets/vini-maia-poeira-estelar-cover-mini.png');
  background-size: cover;
  background-position: center center;
  position: fixed;
  opacity: 0.5;
  filter: blur(30px);
  pointer-events: none;
}

.app__content {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: auto;
}

.playlist {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .playlist {
    flex-direction: row;
    box-sizing: border-box;
    padding: 30px;
  } 
}

.playlist__cover {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  background-color: rgba(255, 255, 255, .1);
  position: relative;
}

.playlist__cover__img {
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
}

@media (min-width: 768px) {
  .playlist__cover {
    padding-bottom: 0px;
    width: 360px;
    flex-shrink: 0;
  }

  .playlist__cover__img {
    width: 360px;
  }
}

.playlist__tracklist {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: 100%;
  background-color: rgba(0, 0, 0, .3);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .playlist__tracklist {
    height: 360px;
  }
}

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
}

.track__play-button {
  background-color: rgba(0, 0, 0, .0);
  border: 0px;
  width: 30px;
  height: 30px;
  border: solid thin #FFF;
  border-radius: 50px;
  margin: 15px;
  flex-grow: 0;
  flex-shrink: 0;
}

.track__play-button__image {
  pointer-events: none;
  transform: translateY(2px);
}

.track__play-button__image--spin {
  will-change: transform;
  transform: translateY(2px) rotate(0deg);
  animation-name: trackPlayButtonImageSpin;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes trackPlayButtonImageSpin {
  from {
    transform: translateY(2px) rotate(0deg);
  }

  to {
    transform: translateY(2px) rotate(359deg);
  }
}

.track__name {
  width: 100%;
}

@media (min-width: 768px) {
  .bio {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    padding: 30px;
    padding-top: 0px;
  }
}

.bio__cover {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, .1);
}

.bio__cover img {
  width: 100%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  position: absolute;
}

@media (min-width: 768px) {
  .bio__cover {
    flex-grow: 0;
    flex-shrink: 0;
    width: 360px;
    height: 360px;
    padding-bottom: 0px;
  }
}

.bio__content {
  padding: 15px;
}

@media (min-width: 768px) {
  .bio__content {
    padding: 0px;
    padding-right: 15px;
  }
}

.bio__content__text {
  font-size: 18px;
  line-height: 28px;
}

.links {
  font-size: 18px;
}

@media (min-width: 768px) {
  .links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
    padding-top: 0px;
  }

  .links > * {
    flex-basis: 50%;
  }
}

.links__listen {
  background-color: rgba(255, 255, 255, .1);
  padding: 15px;
}

.links__contact {
  padding: 15px;
}

@media (min-width: 768px) {
  .links__contact {
    margin-top: 0px;
  }
}

.links-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.links-list__item a {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  color: #FFF;
  text-decoration: none;
  margin-bottom: 15px;
}

.links-list__item a:hover {
  opacity: .5;
}

.links-list__item a img {
  width: 30px;
}

.links-list__item a span {
  display: flex;
  align-items: center;
  padding-left: 7px;
}

.footer {
  font-size: 16px;
  line-height: 24px;
  padding: 15px;
  text-align: center;
  background-color: rgba(255, 255, 255, .1);
}

@media (min-width: 768px) {
  .footer {
    background-color: transparent;
  }
}

.footer a {
  color: #FFF;
  font-weight: bolder;
  text-decoration: none;
}

.player {
  display: none;
}

.player--active {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: 60px;
  color: #FFF;
  font-size: 18px;
}

.player__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  max-width: 738px;
  margin-left: auto;
  margin-right: auto;
}

.player-control {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: transparent;
  border: 0px;
  padding-left: 7px;
  padding-right: 7px;
}

.player-control:first-child {
  padding-left: 15px;
}

.player-control:last-child {
  padding-right: 15px;
}

.play-button {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.play-button img {
  height: 30px;
}

.next-button {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.next-button img {
  height: 25px;
}

.navbar {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.lyrics-button {
  color: red;
  height: 60px;
  cursor: pointer;
  font-size: 18px;
}

.duration-display {
  font-size: 12px;
  text-align: center;
}